<div class="row">
  <h1 class="text-center titu"><strong>Proyectos</strong></h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 p1">
      <h2>Gestión de Biblioteca</h2>
      <p>
        De forma grupal, desarrollamos una aplicación de gestión de biblioteca como parte de una
        actividad propuesta por la cátedra de "Programación Orientada a Objetos"
        de la carrera de "Licenciatura en Sistemas".
      </p>
      <a href="https://github.com/MarquitosLev/POOTaller" target="_blank"
        >Github</a
      >
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p2">
      <img src="../../../assets/proyecto1.jpg" class="img-fluid img-proy" />
    </div>
  </div>
</div>
