<div class="row">

  <div class="col-xs-12 col-md-2 col-lg-2">
    <img
      src="../../../assets/foto_perfil.JPG"
      id="foto_perfil"
      class=""
    />
  </div>

  <div class="col-xs-12 col-md-2 col-lg-2" id="nombre_titulo">
    <h4>Marcos Joel Leiva</h4>
    <h4>Full Stack Developer Jr</h4>
  </div>

  <div class="col-xs-12 col-md-8 col-lg-8" id="acerca">
    <h1>Acerca de mí</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
      aperiam minima! Molestiae, nihil!
    </p>
  </div>

</div>
