<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4">
    <img
      src="../../../assets/foto_perfil.JPG"
      id="foto_perfil"
      class=""
    />
  </div>

  <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8" id="acerca">
    <h1>Acerca de mí</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Consectetur sit eveniet saepe itaque quae nostrum repellat atque qui natus? 
      Aspernatur dolore omnis beatae iure eos at vel esse ad praesentium?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Consectetur sit eveniet saepe itaque quae nostrum repellat atque qui natus? 
      Aspernatur dolore omnis beatae iure eos at vel esse ad praesentium?
    </p>
  </div>

</div>
