*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    text-align: center;
    background-color: black;
    color: white;
}

@media (min-width: 576px) {
    #foto_perfil{  
        position: absolute;      
        width: 15%;
        left: 7%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(63, 63, 63);
        margin-top: 40px
        ;
        
    }
    #acerca{
        margin-top: 40px;
    }
}

@media (max-width: 575px) {
    #foto_perfil{        
        position: absolute;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(63 63 63);
        width: 25%;
        left: 38%;
        margin-top: 30px;
    }
    #acerca{
        margin-top: 140px;
    }
}
