<div class="row">
  <h1><strong>Formación Académica</strong></h1>
  <ul class="col-lg-1"></ul>
  <ul class="list-group list-group-flush col-lg-10">
    <li
      class="list-group-item d-flex justify-content-between align-items-center bg-black text-light"
    >
      <h2 class="col-lg-3">Educación Secundaria</h2>
      <p class="col-lg-9">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima rerum
        optio molestiae ipsa, debitis voluptas perspiciatis distinctio
        repellendus sed officiis qui natus possimus, eligendi omnis ab molestias
        impedit iste quisquam?
      </p>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center bg-black text-light"
    >
      <h2 class="col-lg-3">Estudios Universitarios</h2>
      <p class="col-lg-9">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima rerum
        optio molestiae ipsa, debitis voluptas perspiciatis distinctio
        repellendus sed officiis qui natus possimus, eligendi omnis ab molestias
        impedit iste quisquam?
      </p>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center bg-black text-light"
    >
      <h2 class="col-lg-3">Formación Adicional</h2>
      <p class="col-lg-9">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima rerum
        optio molestiae ipsa, debitis voluptas perspiciatis distinctio
        repellendus sed officiis qui natus possimus, eligendi omnis ab molestias
        impedit iste quisquam?
      </p>
    </li>
  </ul>
  <ul class="col-lg-1"></ul>
</div>
